<a href="https://colab.research.google.com/github/eshita-3104/DSDBAL/blob/main/logfile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#install pyspark
!pip install pyspark
#import sparksession
from pyspark.sql import SparkSession
#create sparksession object and provide appName
spark=SparkSession.builder.appName("local[*]").getOrCreate()
#print spark version
print("Apache Spark version: ", spark.version)
from pyspark.conf import SparkConf

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=ff078616dfe139d9c642f5b9491c6369467e444c0d0e8ea68bb155e6a71941b1
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1
Apache Spark version:  3.5.1

In [2]:
 data = [("James","","Smith",30,"M",60000),
        ("Michael","Rose","",50,"M",70000),
         ("James","","Smith",30,"M",60000),
        ("Robert","","Williams",42,"",400000),
         ("James","","Smith",30,"M",60000),
          ("Michael","Rose","",50,"M",70000),
        ("Maria","Anne","Jones",38,"F",500000),
        ("Jen","Mary","Brown",45,"F",0)]

columns = ["first_name","middle_name","last_name","Age","gender","salary"]
pysparkDF = spark.createDataFrame(data = data, schema = columns)
pysparkDF.printSchema()
pysparkDF.show(truncate=False)

root
 |-- first_name: string (nullable = true)
 |-- middle_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+----------+-----------+---------+---+------+------+
|first_name|middle_name|last_name|Age|gender|salary|
+----------+-----------+---------+---+------+------+
|James     |           |Smith    |30 |M     |60000 |
|Michael   |Rose       |         |50 |M     |70000 |
|James     |           |Smith    |30 |M     |60000 |
|Robert    |           |Williams |42 |      |400000|
|James     |           |Smith    |30 |M     |60000 |
|Michael   |Rose       |         |50 |M     |70000 |
|Maria     |Anne       |Jones    |38 |F     |500000|
|Jen       |Mary       |Brown    |45 |F     |0     |
+----------+-----------+---------+---+------+------+

In [3]:
rdd=spark.sparkContext.parallelize(data)

In [4]:
rdd1=rdd.map(lambda word:(word,1))

In [5]:
rdd2=rdd1.reduceByKey(lambda a,b: a+b)

In [6]:
rdd2

PythonRDD[12] at RDD at PythonRDD.scala:53

In [7]:
 output=rdd2.collect()

In [8]:
output

[(('James', '', 'Smith', 30, 'M', 60000), 3),
 (('Maria', 'Anne', 'Jones', 38, 'F', 500000), 1),
 (('Jen', 'Mary', 'Brown', 45, 'F', 0), 1),
 (('Michael', 'Rose', '', 50, 'M', 70000), 2),
 (('Robert', '', 'Williams', 42, '', 400000), 1)]

In [9]:
from pyspark.sql.functions import mean, col, max
#Example 1
df2=pysparkDF.select(mean("age"),mean("salary")).show()
#Example 2
pysparkDF.groupBy("gender") \
         .agg(mean("age"),mean("salary"),max("salary")) \
         .show()

+--------+-----------+
|avg(age)|avg(salary)|
+--------+-----------+
|  39.375|   152500.0|
+--------+-----------+

+------+--------+-----------+-----------+
|gender|avg(age)|avg(salary)|max(salary)|
+------+--------+-----------+-----------+
|     M|    38.0|    64000.0|      70000|
|      |    42.0|   400000.0|     400000|
|     F|    41.5|   250000.0|     500000|
+------+--------+-----------+-----------+